---
import SEO from "../components/SEO.astro";
import "../lib/css/form.css";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
    <script
      is:inline
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/embed/v2.js"></script>
  </head>
  <body
    class="bg-blue-950 text-white font-sans overflow-x-hidden overflow-y-scroll"
  >
    <slot />
    <script src="../lib/js/main.js"></script>
  </body>
</html>

<style is:global>
  .container {
    @apply py-10;
  }

  .calendar > div {
    box-shadow: 0 0 20px #bfdbfe80;
  }

  .calendar > div:has(.star-bg) {
    @apply md:text-8xl;
  }

  .calendar > div:has(.star-bg):hover .star-bg {
    @apply rotate-90;
  }

  .calendar > div:has(.star-icon) {
    @apply md:text-4xl;
  }

  .calendar > div:has(.star-icon):hover .star-icon {
    @apply rotate-45;
  }
</style>
